---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Tea Names">
	<main class="flex items-center justify-center h-screen flex-col gap-2">
		<div
			id="toast"
			class="absolute px-4 py-2 rounded border border-neutral-50 top-10 bg-neutral-900 opacity-0 transition-opacity"
		>
			Copied to clipboard!
		</div>
		<h1 class="text-3xl font-bold">Tea Generator</h1>
		<div class="flex gap-2">
			<input
				id="tea-name"
				type="text"
				readonly
				class="rounded p-2 text-neutral-900 w-64"
			/>
			<button id="copy">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-copy"
					><rect width="14" height="14" x="8" y="8" rx="2" ry="2"
					></rect><path
						d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
					></path></svg
				>
			</button>
		</div>
		<button id="gen" class="rounded py-2 px-4 border border-neutral-50">
			Generate</button
		>
	</main>
</Layout>
<script>
	const teaNames = [
		"Chun Mee",
		"Chun Lu",
		"Bi Luo Chun",
		"Gunpowder",
		"Maofeng",
		"Yellow",
		"Jasmine",
		"Anji Bai Cha",
		"Maojian",
		"Taiping Houkui",
		"Jin Shan",
		"Longjing (Dragon Well)",
		"Sejak",
		"Ujeon",
		"Jungjak",
		"Daejak",
		"Sencha",
		"Gyokuro",
		"Kabusecha",
		"Tencha",
		"Matcha",
		"Mecha",
		"Shincha",
		"Hojicha",
		"Kukicha",
		"Bancha",
		"Genmaicha",
		"Konacha",
		"Kamairicha",
		"Tamaryokucha",
		"Assam",
		"English Breakfast",
		"Earl Grey",
		"Darjeeling",
		"Rukeri",
		"Pu-Erh",
		"Scottish Afternoon",
		"Irish Breakfast",
		"Milima",
		"Ceylon",
		"Chai",
		"Panyang Congou",
		"Keemun",
		"Lapsang Souchong",
		"Golden Tips",
		"Temi Sikkim",
		"Nimbu",
		"Wakuocha",
		"Silver Needle",
		"White Peony",
		"Shou Mei",
		"Gong Mei",
		"Darjeeling White",
		"Da Hong Pao",
		"Shui Jin Gui",
		"Tie Luo Han",
		"Shui Xian",
		"Bai Jiguan",
		"Tieguanyin (Iron Goddess)",
		"Mi Lan Xiang Dan Con",
		"Ancient Tree Dan Cong",
		"Guan Yin",
		"Dancong",
		"Cassia",
		"Da Yu Lin",
		"Dong Ding",
		"Dong Fang Meiren",
		"Alishan",
		"Pouchong",
		"Ruan Zhi",
		"Jin Xuan",
		"Li Shan",
		"Avocado Leaf",
		"Bamboo",
		"Butterfly Pea Flower",
		"Chaga Mushroom",
		"Chamomile",
		"Lavender",
		"Liquorice",
		"Guayusa",
		"Honeysuckle Flower",
		"Lemon",
		"Mint",
		"Olive Leaves",
		"Hibiscus",
		"Rooibos",
		"Turmeric",
		"Pumpkin Spice",
		"Chrysanthemum",
		"Buckwheat",
		"Honeybush",
		"Bush",
		"Mamaki",
	];
	let generated = teaNames[Math.floor(Math.random() * teaNames.length)];
	const input = document.getElementById("tea-name") as HTMLInputElement;
	input.value = generated;
	// add event listener to button and generate new tea name
	const gen = document.getElementById("gen");
	gen?.addEventListener("click", () => {
		generated = teaNames[Math.floor(Math.random() * teaNames.length)];
		input.value = generated;
	});
	const copy = document.getElementById("copy");
	copy?.addEventListener("click", () => {
		navigator.clipboard.writeText(input.value);
		const toast = document.getElementById("toast");
		toast?.classList.add("opacity-100");
		setTimeout(() => {
			toast?.classList.remove("opacity-100");
		}, 1500);
	});
</script>
